@charset "utf-8";

/* @font-face{
    font-family: "SamsungOneKorean";
    font-style:normal;
    font-weight:normal;
    src: url(./삼성폰트/SamsungOneKorean\ 400.ttf) format("truetype"),
         url(./삼성폰트/SamsungOneKorean\ 400_0.ttf) format("truetype");
} */

@font-face{
    font-family:"SamsungOneKorean";
    src:url(https://cdn.samsung.com/etc/designs/smg/sec/font/SamsungOneKorean-400.eot);
    src:url(https://cdn.samsung.com/etc/designs/smg/sec/font/SamsungOneKorean-400.eot?#iefix) format("embedded-opentype"),url(https://cdn.samsung.com/etc/designs/smg/sec/font/SamsungOneKorean-400.woff2) format("woff2"),
    url(https://cdn.samsung.com/etc/designs/smg/sec/font/SamsungOneKorean-400.woff) format("woff"),
    url(https://cdn.samsung.com/etc/designs/smg/sec/font/SamsungOneKorean-400.ttf) format("truetype");
    font-weight:400;
    font-style:normal
}